create or replace function match_document_chunks ( query_embedding vector(768), match_threshold float, match_count int ) returns table ( id uuid, content text, chunk_index integer, metadata jsonb, similarity float ) language sql stable as \$\$ select ai_document_chunks.id, ai_document_chunks.content, ai_document_chunks.chunk_index, ai_document_chunks.metadata, 1 - (ai_document_chunks.embedding <=> query_embedding) as similarity from ai_document_chunks where 1 - (ai_document_chunks.embedding <=> query_embedding) > match_threshold order by ai_document_chunks.embedding <=> query_embedding limit match_count; \$\$;
